.video_card {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.video_card__reel {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.video_card__header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.video_card__header > * {
    padding: 20px;
    margin: 0;
}

.video_card__footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
}

.video_card__account {
    display: flex;
    align-items: center;
    font-weight: 800 !important;
}

.video_card__account > h4 {
    margin: 0 10px;
}

.video_card__follow {
    font-weight: 800;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}

.video_card__actions {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video_card__left > * {
    margin-right: 15px;
}

.video_card__right {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    margin-right: 20px;
}

.video_card__right p {
    padding-bottom: 2px;
}

.video_card__likes {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.video_card__likes > * {
    margin-left: 3px;
}

.video_card__comments {
    display: flex;
    align-items: center;
}

.video_card__comments > * {
    margin-left: 3px;
}

.video_card__song {
    margin-top: 10px;
    width: 70%;
}

.video_card__song > .ticker {
    height: fit-content;
    margin-left: 20px;
}

.video_card__ticker {
    display: flex;
    align-items: center;
}

.video_card__ticker > h4 {
    margin: 0 10px;
    font-size: 12px;
}
