.app {
    display: grid;
    place-items: center;
    color: white;
    height: 100vh;
}

.app__header {
    display: flex;
    flex-direction: column;
}

.app__header img {
    margin-right: 25px;
    height: 6vh;
    object-fit: contain;
}

.app__title {
    display: flex;
    align-items: center;
}

.app__title > h2 {
    margin-left: 10px;
}

.app__main {
    height: 667px;
    width: 375px;
    background: white;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.app__main::-webkit-scrollbar {
    display: none;
}
